@import 'variables', 'mixins';

// Typography

h1, h2, h3, h4, h5, h6, p, ul, a, button, input, label, select, span, div {
    font-family: 'Open Sans', sans-serif !important;
    color: $text-color;
}

ul {
    padding-left: 20px;
    list-style-type: none;

    li {
        position: relative;
        margin-bottom: 4px;
    }

    li:before {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $purple;
        position: absolute;
        left: -17px;
        top: 9px; 
    }
}

// Colors

@function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}

:root {
    --purple-rgb: #{hexToRGB($purple)};
    --fushia-rgb: #{hexToRGB($fushia)};
}

// Helper classes

.light-text {
    color: $grey-medium;
}

.text-center {
    text-align: center;
}

.size-medium {
    font-size: 1.5em;
}

.arrow-turned {
    transform: rotate(180deg);
    position: relative;
    top: 12px;
    margin-left: 24px;
}

.font-bold {
    font-weight: bold;
}
  