@import 'variables', 'mixins';

// Typography

h1, h2, h3, h4, h5, h6, p, ul, a, button, input, label, select, span, div {
    font-family: 'Open Sans', sans-serif !important;
    color: $text-color;
}

h1 {
    font-weight: 600;
    color: $grey-dark;
}

// Colors

@function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}

:root {
    --purple-rgb: #{hexToRGB($purple)};
    --fushia-rgb: #{hexToRGB($fushia)};
}

// Helper classes

.light-text {
    color: $grey-light;
}

.text-center {
    text-align: center;
}
  