// Colors

$green: #37c837;
$purple: #4400aa;
$fushia: #b559ff;
$red: #dc3545;
$blue: #2a83be;

$grey-dark: #333;
$grey-medium: #777;
$grey: rgb(161, 161, 161);
$grey-light: rgb(223, 223, 223);
$white-grey: #f4f4f4;
$white: #ffffff;

$text-color: #252129;


// Font-size

$font-size-base:    0.9rem;

$h1-font-size:      $font-size-base * 2;
$h2-font-size:      $font-size-base * 2;
$h3-font-size:      $font-size-base * 1.75;
$h4-font-size:      $font-size-base * 1.5;
$h5-font-size:      $font-size-base * 1.25;
$h6-font-size:      $font-size-base;