@import '../variables', '../mixins';

.a-btn-primary {
    padding: 0.5rem 1rem;
    border-radius: 0;
    color: #fff;
    font-size: 0.9em;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
    border: 0;
    cursor: pointer;

    &:hover,
    &:focus {
        opacity: 0.8;
        text-decoration: none;
        color: $white;
        outline: 0;
    }

    &--rounded {
        border-radius: 4px;
    }

    &--green {
        background-color: $green;
    }

    &--grey {
        background-color: $grey-dark;
    }

    &--white {
        background-color: $white;
        color: $text-color;
    }

    &--purple {
        background-color: $purple;
    }

    &--red {
        background-color: $red;
    }

    &--blue {
        background-color: $blue;
    }

    &--transparent {
        padding-left: 0;
        color: $purple;
        font-weight: 600;
    }

    &--white,
    &--transparent {
        &:hover,
        &:focus {
            color: $purple;
        }
    }
}